version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: Auction and Realtime bid
    restart: always
    ports:
      - "5001:5001"
    environment:
      PORT: 5001
      MONGO_URI: mongodb://mongo:27017/tradeclone

    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo
      - rabbitmq
      - redis

  mongo:
    image: mongo:7
    container_name: RealTime Auction and Bid
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: auction_redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: auction_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mongo_data:
